<% provide(:title, @product.name) %>
<h1><%= @product.name %></h1>

<%= image_tag(@product.picture) %>


<p>Pris: <%= @product.price %> </p>
<p>Lagerstatus: <%= @product.stock %> </p>

<p><%= @product.description %> </p>
