<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Products', products_path %>
    <%= link_to 'Carts', carts_path %>
    <%= link_to 'Categories', categories_path %>
    <%= link_to 'Customers', customers_path %>
    <%= link_to 'Deliveries', deliveries_path %>
    <%= link_to 'Sales', sales_path %>
    <%= yield %>
  </body>
</html>
