<!DOCTYPE html>
<html>

<head>
  <title>
    <%= full_title(yield(:title)) %>
  </title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <!-- TODO: Refactor and move entire navbar to partial _navbar? -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <h2>
          <%= link_to is_admin? ? "u-r-admin" : "Patches-N-Stuff", root_path, id: "logo" %>
        </h2>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

          <li class="hidden-sm hidden-md hidden-lg hidden-lg">
            <a data-toggle="collapse" data-target="#categories">Kategorier</a>
          </li>
          <li>
            <ul id="categories" class="nav navbar-right navbar-nav hidden-sm hidden-md hidden-lg hidden-lg collapse">
              <%= render 'layouts/side_menu' %>
            </ul>
          </li>

          <li>
            <%= link_to "Inköpslista", current_cart %>
          </li>
          <li>
            <%= link_to "Profil", user_path %>
          </li>
          <li>
            <% if !logged_in? %>
              <%= link_to "Logga in", login_path %>
            <% else %>
              <%= link_to "Logga ut", logout_path, method: :delete %>
            <% end %>
          </li>
          <li>
            <%= link_to "Checka ut", check_out_path, method: :post %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <%= render 'layouts/side_menu' %>
        </ul>
      </div>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div class="container">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
        </div>
        <%= yield %>
      </div>

    </div>
  </div>
</body>
</html>
