<p id="notice"><%= notice %></p>

<p>
  <%= link_to image_tag( "#{@product.category_id}/#{@product.picture}" ,  :alt => @product.picture, :class => "img"), "#{@product.category_id}/#{@product.picture}", title: @product.picture %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @product.picture %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
