<p id="notice"><%= notice %></p>

<% if !is_admin? %>
  <% if @delivery.shipped %>
      <h2>Dina varor är påväg</h2>
  <% elsif !@delivery.payed %>
      <h2>Vi kommer att behandla din order och skicka faktura</h2>
  <% else %>
      <h2>Vi har tagit emot din betalning och kommer att skicka varorna snarast</h2>
  <% end %>
<% end %>

<p>
  <strong>Customer:</strong>
  <%= link_to(@delivery.customer_id, @delivery.customer) %>
</p>

<p>
  <strong>Cart:</strong>
  <%=  link_to(@delivery.cart_id, @delivery.cart) %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @delivery.adress %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @delivery.zip %>
</p>

<p>
  <strong>City:</strong>
  <%= @delivery.city %>
</p>

<p>
  <strong>Payed:</strong>
  <%= @delivery.payed %>
</p>

<p>
  <strong>Shipped:</strong>
  <%= @delivery.shipped %>
</p>

<p>
  <strong>Order date:</strong>
  <%= @delivery.created_at %>
</p>

<% if is_admin? %>
  <%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<% end %>
<%= link_to 'Back', deliveries_path %>
