<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @rating.product_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @rating.customer_id %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @rating.grade %>
</p>

<p>
  <strong>Review:</strong>
  <%= @rating.review %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
